.form-page {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  transition: all 0.4s ease;
}

.form-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-page__title {
  margin: 40px 0 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.form-page__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  outline: none;
  margin: 0 0 69px 0;
  padding: 0;
  transition: all 0.4s ease;
}

.form-page__label {
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin: 0 0 10px 0;
}

.form-page__input {
  cursor: pointer;
  height: 46px;
  padding: 0 8px;
  box-sizing: border-box;
  border: none;
  background-color: #2F2F2F;
  border-radius: 8px;
  outline: none;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  transition: all 0.2s linear;
}


.form-page__input:focus {
  background-color: #4a4a4a;
}

.form-page__input-error_active {
  color: #EE3465;
  margin: 0 0 10px 0;
}

.form-page__input-error {
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.form-page__link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  padding: 0 0 0 6px;
  opacity: 1;
  transition: all 0.4s ease;
}

.form-page__link:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
}

.form-page__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 16px 0 0 0;
  transition: all 0.4s ease;
}

.form-page__form-error{
  color: #EE3465;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  align-self: center;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 500px) {
  .form-page {
    width: 260px;
  }

  .form-page__link {
    font-size: 12px;
    line-height: 15px;
  }
  
  .form-page__text {
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0 0 0;
  }

  .form-page__fieldset {
    margin: 0 0 157px 0;
  }
}